main {
    width: 100%;
}

/* 
Video Section 
*/
.video-block {
    height: 85vh;
    width: 100%;
    position: relative;
}

.video-block__media {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.video-block__other {
    width: 70%;
    height: 46%;
    position: absolute;
    top: 35%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.video-block__other__text {
    width: 88%;
    text-align: center;
    font-size: 3.4em;
    color: white;
}

.video-block__other__search {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
}

.video-block__other__search__bar {
    width: 60%;
}

.video-block__other__search__bar>input {
    height: 80px;
    width: 90%;
    border: 0px;
    padding: 0 0 0 25px;
    font-size: 1.3em;
}

.video-block__other__search__bar>input::placeholder {
    opacity: 0.7;
    font-size: 0.8em;
}

.video-block__other__search__btns {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.video-block__other__search__btns__btn1 {
    width: 40%;
    height: 60px;
    border: 0px;
    background: white;
    opacity: 0.7;
}

.video-block__other__search__btns__btn1:hover {
    opacity: 1;
}

.video-block__other__search__btns__btn2 {
    width: 40%;
    height: 60px;
    border: 0px;
    background-color: #998152;
    opacity: 0.7;
    color: white;
    transition: background-color 300ms ease-in;
}

.video-block__other__search__btns__btn2:hover {
    background-color: #2A312E;
}

/* --------- 
END of VIDEO
 */

/* 
Half Text Image Side By Side 
*/
.text-image-sbs {
    margin: 5em 0;
    display: flex;
    width: 100%;
    height: 100vh;
}

.text-image-sbs__text {
    max-width: 50%;
    width: 50%;
    height: 100%;
    background-color: #A2A39A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-image-sbs__text__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    height: 45%;
    color: white;
    text-align: center;
    gap: 1.6em;
    line-height: 1.5em;
}

.text-image-sbs__text__inner .heading {
    font-size: 1.5em;
}

.text-image-sbs__text__inner .normalline {
    font-size: 1em;
}

.text-image-sbs__text__inner button {
    font-size: 0.8em;
    font-weight: bold;
    height: 19%;
    width: 48%;
    background: #2A312E;
    border: 0px;
    position: relative;
    color: white;
}

.text-image-sbs__text__inner button::before {
    content: '';
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 100%;
    background-color: #1F2221;
    transition: top 100ms ease-in;
}

.text-image-sbs__text__inner button:hover:before {
    top: 0%;
}

.text-image-sbs__image {
    max-width: 50%;
    width: 50%;
    height: 100%;
}

.text-image-sbs__image img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* 
End Of Side By Side
*/

/* 
intro-block CSS
---
news-block CSS
*/

.intro-block {
    margin: 5em 0;
    height: 67vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-block {
    margin: 5em 0 8em 0;
    height: 85vh;
    font-size: 0.9em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-block1,
.news-block1 {
    height: 100%;
    width: 91%;
    display: grid;
    grid-template-columns: calc(91% / 4) calc(91% / 4) calc(91% / 4) calc(91% / 4);
    grid-gap: 0 3%;
}

.intro-block1__sec1,
.news-block1__sec1 {
    height: 100%;
    line-height: 1.9em;

}

.intro-block1__sec1 h5,
.news-block1__sec1 h5 {
    font-size: 1.6em;
    font-weight: 300;
}

.intro-block1__sec1 p,
.news-block1__sec1 p {
    font-size: 1.1em;
    font-weight: 300;

    margin: 1.3em 0;
}

.intro-block1__sec1 button,
.news-block1__sec1 button {
    font-size: 0.8em;
    font-weight: bold;
    height: 12%;
    position: relative;
    width: 58%;
    background: #F4F4F4;
    border: 0px;
    color: #2A312E;
    z-index: 1;
    transition: background-color 300ms ease-in;
}


.intro-block1__sec1 button:hover,
.news-block1__sec1 button:hover {
    background: lightgray;
}


.intro-block1__sec2,
.news-block1__sec2 {
    height: 100%;
}

.sec:hover img {
    height: calc(100% / 2.7);
}

.intro-block1__sec3,
.news-block1__sec3 {
    height: 100%;
}

.intro-block1__sec4,
.news-block1__sec4 {
    height: 100%;
}

.intro-block1 img,
.news-block1 img {
    width: calc(100% / 1);
    height: calc(100% / 2.4);
    object-fit: cover;
    transition: height 200ms ease-in;
}

.intro-block1 h6,
.news-block1 h6 {
    width: 80%;
    font-size: 1.3em;
    font-weight: 500;
    margin: 1em 0;
    text-transform: uppercase;
}

.sec2-p {
    font-size: 1em;
    font-weight: 300;
    margin: 1em 0;
    line-height: 1.6em;
    width: 81%;
    opacity: 97%;

}

.sec2-btn {
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    border: 0px;
    color: rgba(163, 101, 13, 0.8);
}

.news-date {
    margin: 0.8em 0 0 0;
    opacity: 70%;
}

/* 
End Of Intro Block
*/

/* 
CSS of Page Cards
*/

.page-cards {
    background: #F4F4F4;
}

.cards {
    padding: 16vh 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.8em;
}

.cards__card {
    height: 85vh;
    width: 44%;
    background: white;
    box-shadow: 0px 10px 40px 0px rgba(42, 49, 46, 0.3);
    transition: 300ms ease-in;
}

.cards__card:hover {
    transform: translateY(-20px);
}


.cards img {
    height: 75%;
    width: 100%;
    object-fit: cover;
}

.cards h6 {
    margin: 1.2em 1em 0.6em 1.3em;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

.cards p {
    margin: 0 1.8em;
    font-size: 0.9em;
}


/* 
End Of Page Cards
*/

/* 
CSS of Fotter
TOP
*/
.footer {
    height: 80vh;
    display: flex;
    align-items: center;
    background: #2A312E;
}

.footer-top {
    height: 60%;
    display: grid;
    grid-template-columns: 22vw 40vw 22vw;
    gap: 2vw;
    margin: 10vh 6vw;
}

.footer-top h6 {
    color: #998152;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 26%;
}

.footer-top p {
    color: white;
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 15%;
    text-transform: uppercase;
}

.footer-top__box2 {
    display: flex;
    justify-content: flex-start;
    gap: 24%;
}

.footer-top__box2 p:hover {
    color: #998152;
}


.footer-top__box1__icons {
    display: flex;
    margin-top: 20%;
    justify-content: start;
    align-items: center;
    gap: 12%;
}

.footer-top__box1__icons li {
    list-style: none;
    color: white;
}

.fa-facebook-f {
    color: #2A312E;
    padding: 4px 5px 0 5px;
    border-radius: 31px;
    background-color: white;
}

.fa-instagram {
    font-size: 1.4em;
}

.fa-linkedin-in {
    font-size: 1.2em;
}


.two-p-sections {
    display: flex;
    align-items: center;
}

.two-p-sections p {
    width: 50%;
    text-transform: capitalize;
    margin-bottom: 3%;
    font-size: 1em;
}

.footer-address {
    margin-top: 10%;
    font-size: 1.1em;
    line-height: 1.6em;
}

.footer-top__box3 ul {
    display: flex;
    justify-content: flex-start;
    gap: 25px;

}

.footer-top__box3 ul li {
    list-style: none;
}

.footer-top__box3 ul li img {
    max-height: 1.5em
}


/* ---------------- TOP END */
/* 
Footer Bottom CSS
*/

.footer-bottom {
    height: 20vh;
    background: #1F2221;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom__div {
    height: 10vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.footer-bottom ul {
    display: flex;
    gap: 4%;
    font-size: 0.8em;
    text-transform: uppercase;
}

.footer-bottom ul li {
    list-style: none;
}

.footer-bottom ul li:hover {
    color: #998152;
}

.footer-bottom p {
    margin-top: 2%;
    color: #A2A39A;
    font-size: 0.8em;
}



.fa-at {
    font-size: 1.3em;
}



@media (min-width: 2112px) {
    body {
        font-size: 1.5em;
    }

    .logo,
    .f-logo {
        height: 35%;
        width: 25%;
    }

    .video-block__other__text {
        font-size: 3em;
    }

    .video-block__other__search {
        height: 150px;
    }
}

@media (min-width: 1700px) and (max-width: 2112px) {
    body {
        font-size: 1.2em;
    }

    .logo,
    .f-logo {
        height: 35%;
        width: 25%;
    }

    .video-block__other__text {
        font-size: 3em;
    }

    .video-block__other__search {
        height: 125px;
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    body {
        font-size: 0.8em;
    }

    .logo,
    .f-logo {
        height: 35%;
        width: 25%;
    }

    .video-block__other__text {
        font-size: 2.8em;
    }

    .intro-block {
        /* height: 100vh; */
    }

    .news-block {
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 0.7em;
    }

    .logo,
    .f-logo {
        height: 45%;
        width: 35%;
    }

    .head-unit {
        position: sticky;
        top: 0px;
    }

    .video-block__other__text {
        font-size: 2.8em;
    }

    .video-block__other__search__btns {
        margin-right: 15px;
    }

    .video-block__other__search__btns__btn1 {
        width: 50%;
        height: 60px;
        border: 0px;
        background: white;
        opacity: 0.7;
    }

    .video-block__other__search__btns__btn2 {
        width: 50%;
        height: 50px;
        background-color: #998152;
        opacity: 0.7;
        color: white;
        border: 0px;
    }

    .text-image-sbs {
        flex-direction: column-reverse;
        height: 140vh;
    }

    .text-image-sbs__text {
        max-width: 100%;
        width: 100%;
        height: 70vh;
        font-size: 1.2em;
    }

    .text-image-sbs__image {
        max-width: 100%;
        width: 100%;
        height: 80vh;
    }

    .text-image-sbs__text__inner {
        height: 70vh;
    }

    .text-image-sbs__text__inner button {
        font-size: 0.8em;
        font-weight: bold;
        width: 24%;
        height: 18%;
        background: #2A312E;
        border: 0px;
        color: white;
    }

    .intro-block {
        height: 100vh;
    }

    .news-block {
        height: 95vh;
    }

    .intro-block1,
    .news-block1 {
        height: 100%;
        width: 91%;
        display: grid;
        grid-template-columns: calc(91% / 3) calc(91% / 3) calc(91% / 3);
        grid-gap: 5% 3%;
    }

    .intro-block1__sec1,
    .news-block1__sec1 {
        grid-column: 1/4;
        width: 70%;
    }

    .intro-block1__sec1 button,
    .news-block1__sec1 button {
        font-size: 0.8em;
        font-weight: bold;
        height: 25%;
        width: 22%;
        background: #F4F4F4;
        border: 0px;
        color: #2A312E;
    }

    .intro-block1 img,
    .news-block1 img {
        width: calc(100% / 1);
        height: calc(100% / 2.6);
    }
}

@media (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
    .video-block__other__search {
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
        justify-content: flex-start;
        background: white;
    }
    .video-block__other__search__btns {
        width: 80%;
        margin: auto;
    }
    .news-block {
        margin: 0 0 0 0;
    }

    .logo,
    .f-logo {
        height: 45%;
        width: 35%;
    }

    .head-unit__nav__dropown-elements>ul:first-child {
        display: none;
    }

    .head-unit__nav__dropown-elements>ul:last-child {
        display: block;
        font-size: 1.5em;
    }

    .head-unit__nav__icons>ul>li:first-child {
        display: none;
    }

    .head-unit__nav__icons>ul>li:last-child {
        font-size: 1.5em;
    }

    .video-block__other__text {
        font-size: 2.2em;
    }



    .video-block__other__search__btns button:first-child {
        display: none;
    }

    .video-block__other__search__btns button:last-child {
        width: 388px;
        height: 45px
    }

    .video-block__other {
        width: 70%;
        height: 50%;
        top: 40%;
        justify-content: center;
    }

    .video-block__other__search {
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: auto;
        justify-content: flex-start;
        background: white;
    }

    .video-block__other__search__bar {
        width: 100%;
        height: 50%;
    }

    .video-block__other__search__btns {
        width: 80%;
    }

    .video-block__other__search__btns__btn2 {
        font-weight: 600;
        color: white;
    }





    .intro-block {
        height: auto;
    }

    .news-block {
        height: auto;
    }

    .intro-block1,
    .news-block1 {
        margin-bottom: 25px;
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .intro-block1__sec1,
    .news-block1__sec1 {
        height: 180px;
        line-height: 1.9em;

    }

    .intro-block1__sec2,
    .news-block1__sec2 {
        margin-bottom: 25px;
    }

    .intro-block1__sec3,
    .news-block1__sec3 {
        margin-bottom: 25px;
    }

    .intro-block1__sec4,
    .news-block1__sec4 {
        margin-bottom: 25px;
    }

    .intro-block1 img,
    .news-block1 img {
        width: calc(100% / 1);
        height: auto;
        object-fit: cover;
    }

    .intro-block1__sec1 button,
    .news-block1__sec1 button {
        font-size: 0.8em;
        font-weight: bold;
        height: 25%;
        width: 22%;
        background: #F4F4F4;
        border: 0px;
        color: #2A312E;
    }



    .text-image-sbs {
        flex-direction: column-reverse;
        height: auto;
    }

    .text-image-sbs__text {
        max-width: 100%;
        width: 100%;
        height: 300px;
        font-size: 1.2em;
    }

    .text-image-sbs__image {
        max-width: 100%;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .text-image-sbs__text__inner {
        height: 260px;
        width: 60%;
    }

    .text-image-sbs__text__inner button {
        font-size: 0.8em;
        font-weight: bold;
        width: 32%;
        height: 18%;
        background: #2A312E;
        border: 0px;
        color: white;
    }


    /* 
CSS of Page Cards
*/

    .page-cards {
        background: #F4F4F4;
    }

    .cards {
        padding: 16vh 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1.8em;
    }

    .cards__card {
        height: 100px;
        width: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }


    .cards img {
        height: 100%;
        width: 30%;
        object-fit: cover;
    }

    .cards h6 {
        margin: 1.2em 1em 0.6em 1.3em;
        font-size: 1.2em;
        font-weight: 400;
        text-transform: uppercase;
    }

    .cards h6::after {
        content: ' >';
        font-size: 1.2em;
        font-weight: 400;
        text-transform: uppercase;
    }

    .cards p {
        display: none;
    }

    .mob-logo {
        display: block;
    }

    .logo {
        display: none;
    }

    .f-logo {
        height: 70px;
        width: auto;
    }

    footer {
        height: auto;
        width: 100vw;
    }

    .footer {
        height: auto;
        background: #2A312E;
    }

    .footer-top {
        height: 70%;
        width: 100%;
        margin: 10vh 6vw;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }

    .footer-top h6 {
        color: #998152;
        font-size: 1.2em;
        font-weight: 400;
        margin-bottom: 0px;
        padding: 20px 0;
        border-top: 1px solid #998152;
        border-bottom: 1px solid #998152;
    }

    .footer-top p {
        color: white;
        font-size: 0.9em;
        font-weight: 400;
        margin-bottom: 25px;
        text-transform: uppercase;
    }


    .footer-top__box1 {
        height: 100px;
        width: 100%;
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-top__box1__icons {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }

    .footer-top__box1__icons li {
        list-style: none;
        color: white;
    }

    .fa-facebook-f {
        color: #2A312E;
        padding: 4px 5px 0 5px;
        border-radius: 31px;
        background-color: white;
    }

    .fa-instagram {
        font-size: 1.6em;
    }

    .fa-linkedin-in {
        font-size: 1.4em;
    }


    .footer-top__box2 {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .footer-top__box2 p {
        display: none;
    }

    .footer-top__box3 {
        height: auto;
        width: 100%;
    }

    .two-p-sections {
        display: flex;
        align-items: center;
    }

    .two-p-sections p {
        width: 50%;
        text-transform: capitalize;
        margin-bottom: 3%;
        font-size: 1em;
    }

    .footer-address {
        margin-top: 15px;

        font-size: 1.1em;
        line-height: 1.6em;
    }

    .footer-top__box3 ul {
        display: flex;
        justify-content: flex-start;
        gap: 25px;

    }

    .footer-top__box3 ul li {
        list-style: none;
    }

    .footer-top__box3 ul li img {
        max-height: 3em
    }

    .footer-bottom {
        height: auto;
        background: #1F2221;
        color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: start;
        padding: 20px;
    }


}

@media (max-width: 520px) {
    body {
        font-size: 0.7em;
    }

    .logo,
    .f-logo {
        height: 45%;
        width: 35%;
    }
    .video-block__other__search {
        width: 100%;
        height: auto;
    }
    .text-image-sbs__text__inner {
        height: 260px;
        width: 85%;
    }

    .text-image-sbs__text__inner button {
        font-size: 0.8em;
        font-weight: bold;
        width: 40%;
        height: 18%;
        background: #2A312E;
        border: 0px;
        color: white;
    }


    .video-block__other__text {
        font-size: 2.6em;
        width: 100%;
    }

    .footer-top__box3 ul li img {
        max-height: 2em
    }
}

@media (max-width: 420px) {
    body {
        font-size: 0.6em;
    }
    .video-block__other__search {
        width: 100%;
        height: auto;
    }
    .mob-logo,
    .f-logo {
        height: 160px;
        width: 160px;
    }

    .text-image-sbs__text__inner {
        height: 260px;
        width: 75%;
    }

    .text-image-sbs__text__inner button {
        width: 40%;
        height: 18%;
    }


    .video-block__other__text {
        font-size: 2.2em;
    }

    .footer-top__box3 ul li img {
        max-height: 2em
    }

    .news-block p {
        display: none;
    }

    .intro-block1__sec1,
    .news-block1__sec1 {
        height: auto;
        line-height: 1.9em;
        margin-bottom: 45px;
    }

    .intro-block1__sec1 button,
    .news-block1__sec1 button {
        font-size: 0.8em;
        font-weight: bold;
        height: 30px;
        width: 60px;
        background: #F4F4F4;
        border: 0px;
        color: #2A312E;
    }

    .intro-block1 .sec2-btn,
    .intro-block1 .sec2-p {
        display: none;
    }

}